.sp_Vpco9KTVY4D {
    background-image: url(/rsrc.php/v3/yd/r/qN4PnUxD2cX.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.sp_Vpco9KTVY4D.sx_1a2e40 {
    width: 12px;
    height: 12px;
    background-position: 0 -259px
}

.sp_Vpco9KTVY4D.sx_f769e2 {
    width: 24px;
    height: 24px;
    background-position: -17px -110px
}

.sp_Vpco9KTVY4D.sx_64405d {
    background-position: -106px -25px
}

.sp_Vpco9KTVY4D.sx_cc025f {
    width: 20px;
    height: 20px;
    background-position: -50px -143px
}

.sp_Vpco9KTVY4D.sx_3ff285 {
    width: 24px;
    height: 24px;
    background-position: -42px -110px
}

.sp_Vpco9KTVY4D.sx_501404 {
    width: 24px;
    height: 24px;
    background-position: -67px -110px
}

.sp_Vpco9KTVY4D.sx_893a71 {
    width: 24px;
    height: 24px;
    background-position: -92px -110px
}

.sp_Vpco9KTVY4D.sx_131b2f {
    width: 20px;
    height: 20px;
    background-position: -71px -143px
}

.sp_Vpco9KTVY4D.sx_9e90de {
    width: 12px;
    height: 12px;
    background-position: -13px -259px
}

.sp_Vpco9KTVY4D.sx_3bbc5d {
    width: 12px;
    height: 12px;
    background-position: -26px -259px
}

.sp_Vpco9KTVY4D.sx_18944b {
    width: 20px;
    height: 20px;
    background-position: -92px -143px
}

.sp_Vpco9KTVY4D.sx_4ea00c {
    width: 24px;
    height: 24px;
    background-position: 0 -143px
}

.sp_Vpco9KTVY4D.sx_dc4ed8 {
    width: 24px;
    height: 24px;
    background-position: -25px -143px
}

.sp_Vpco9KTVY4D.sx_63a4de {
    background-position: -35px -60px
}

.sp_Vpco9KTVY4D.sx_b01159 {
    background-position: -52px -60px
}

.sp_Vpco9KTVY4D.sx_76c29c {
    width: 12px;
    height: 12px;
    background-position: -39px -259px
}

.sp_Vpco9KTVY4D.sx_9aac7c {
    background-position: -69px -60px
}

.sp_Vpco9KTVY4D.sx_e90220 {
    background-position: -86px -60px
}

.sp_Vpco9KTVY4D.sx_f6ba00 {
    background-position: -103px -60px
}

.sp_Vpco9KTVY4D.sx_58c3e3 {
    background-position: -105px -187px
}

.sp_Vpco9KTVY4D.sx_1d9fdf {
    background-position: 0 -210px
}

.sp_Vpco9KTVY4D.sx_39e405 {
    background-position: -17px -210px
}

.sp_Vpco9KTVY4D.sx_204447 {
    width: 12px;
    height: 12px;
    background-position: -52px -259px
}

.sp_Vpco9KTVY4D.sx_813c04 {
    background-position: -34px -210px
}

.sp_Vpco9KTVY4D.sx_9ab55b {
    background-position: -51px -210px
}

.sp_Vpco9KTVY4D.sx_eb7218 {
    background-position: -68px -210px
}

.sp_Vpco9KTVY4D.sx_9af007 {
    width: 12px;
    height: 12px;
    background-position: -65px -259px
}

.sp_Vpco9KTVY4D.sx_7dc047 {
    width: 17px;
    background-position: -17px -60px
}

.selected .sp_Vpco9KTVY4D.sx_7dc047 {
    background-position: 0 -60px
}

.sp_Vpco9KTVY4D.sx_25fb7f {
    width: 123px;
    height: 24px;
    background-position: 0 0
}

.sp_Vpco9KTVY4D.sx_ae3241 {
    background-position: -85px -210px
}

.sp_Vpco9KTVY4D.sx_e07da9 {
    width: 20px;
    height: 20px;
    background-position: 0 -168px
}

.sp_Vpco9KTVY4D.sx_1576d0 {
    width: 20px;
    height: 20px;
    background-position: -21px -168px
}

.sp_Vpco9KTVY4D.sx_b436b1 {
    width: 12px;
    height: 12px;
    background-position: -78px -259px
}

.sp_Vpco9KTVY4D.sx_475cec {
    width: 32px;
    height: 32px;
    background-position: 0 -77px
}

.sp_Vpco9KTVY4D.sx_2b7ffb {
    width: 32px;
    height: 32px;
    background-position: -33px -77px
}

.sp_Vpco9KTVY4D.sx_a13ae0 {
    width: 10px;
    height: 11px;
    background-position: -66px -48px
}

.sp_Vpco9KTVY4D.sx_ead81b {
    width: 10px;
    height: 11px;
    background-position: -77px -48px
}

.sp_Vpco9KTVY4D.sx_476aac {
    width: 10px;
    height: 11px;
    background-position: -88px -48px
}

.sp_Vpco9KTVY4D.sx_fc5571 {
    width: 12px;
    height: 11px;
    background-position: -53px -48px
}

.sp_Vpco9KTVY4D.sx_db29fd {
    width: 18px;
    height: 18px;
    background-position: -43px -169px
}

.sp_Vpco9KTVY4D.sx_87bee4 {
    width: 13px;
    height: 13px;
    background-position: -103px -228px
}

.sp_Vpco9KTVY4D.sx_764033 {
    background-position: -106px -169px
}

.sp_Vpco9KTVY4D.sx_9a747b {
    width: 14px;
    height: 14px;
    background-position: 0 -244px
}

.sp_Vpco9KTVY4D.sx_051042 {
    width: 20px;
    height: 20px;
    background-position: -63px -168px
}

.sp_Vpco9KTVY4D.sx_08dd5f {
    width: 20px;
    height: 20px;
    background-position: -84px -168px
}

.sp_Vpco9KTVY4D.sx_4a92e3 {
    height: 32px;
    background-position: -66px -77px
}

.sp_Vpco9KTVY4D.sx_37e9a4 {
    height: 32px;
    background-position: -83px -77px
}

.sp_Vpco9KTVY4D.sx_dcb5bd {
    height: 32px;
    background-position: -100px -77px
}

.sp_Vpco9KTVY4D.sx_3299bf {
    height: 32px;
    background-position: 0 -110px
}

.sp_Vpco9KTVY4D.sx_72e6f4 {
    width: 10px;
    height: 9px;
    background-position: -99px -48px
}

.sp_Vpco9KTVY4D.sx_eb4d27 {
    width: 20px;
    height: 20px;
    background-position: 0 -189px
}

.sp_Vpco9KTVY4D.sx_7669e4 {
    width: 20px;
    height: 20px;
    background-position: -21px -189px
}

.sp_Vpco9KTVY4D.sx_3c5132 {
    width: 20px;
    height: 20px;
    background-position: -42px -189px
}

.sp_Vpco9KTVY4D.sx_d23ef3 {
    width: 20px;
    height: 20px;
    background-position: -63px -189px
}

.sp_Vpco9KTVY4D.sx_e52686 {
    width: 20px;
    height: 20px;
    background-position: -84px -189px
}

.sp_Vpco9KTVY4D.sx_73be4e {
    width: 52px;
    height: 34px;
    background-position: 0 -25px
}

.sp_Vpco9KTVY4D.sx_3ccde2 {
    width: 52px;
    height: 22px;
    background-position: -53px -25px
}

.sp_Vpco9KTVY4D.sx_ce387e {
    width: 14px;
    height: 14px;
    background-position: -15px -244px
}

.sp_Vpco9KTVY4D.sx_9d0272 {
    width: 14px;
    height: 14px;
    background-position: -30px -244px
}

.sp_Vpco9KTVY4D.sx_d0befb {
    width: 14px;
    height: 14px;
    background-position: -45px -244px
}

.sp_Vpco9KTVY4D.sx_573733 {
    width: 14px;
    height: 14px;
    background-position: -60px -244px
}

.sp_Vpco9KTVY4D.sx_b79412 {
    width: 14px;
    height: 14px;
    background-position: -75px -244px
}

.sp_Vpco9KTVY4D.sx_72ef38 {
    width: 14px;
    height: 14px;
    background-position: -90px -244px
}

.sp_Vpco9KTVY4D.sx_f9a296 {
    width: 14px;
    height: 14px;
    background-position: -105px -244px
}

.sp_Vpco9KTVY4D.sx_5ed83a {
    background-position: -102px -210px
}

.sp_Vpco9KTVY4D.sx_b837fa {
    background-position: 0 -227px
}

.sp_Vpco9KTVY4D.sx_a46c85 {
    background-position: -17px -227px
}

.sp_Vpco9KTVY4D.sx_c78bb2 {
    background-position: -34px -227px
}

.sp_Vpco9KTVY4D.sx_012864 {
    background-position: -51px -227px
}

.sp_Vpco9KTVY4D.sx_3451d3 {
    background-position: -68px -227px
}

.sp_Vpco9KTVY4D.sx_582354 {
    background-position: -85px -227px
}

#bootloader_XbGWyOF {
    height: 42px;
}

.bootloader_XbGWyOF {
    display: block!important;
}
