._2sp {
    height: 12px;
    width: 12px
}

._2sq {
    height: 20px;
    width: 20px
}

._2so {
    display: inline-block
}

._50cg._2ss {
    background-image: url(/rsrc.php/v3/yd/r/qN4PnUxD2cX.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -84px -168px
}

._50cg._2st {
    background-image: url(/rsrc.php/v3/yd/r/qN4PnUxD2cX.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -63px -168px
}

._50ch._2so {
    -webkit-mask-image: url(/rsrc.php/v3/yO/r/KG2Aq3EOvWn.png);
    -webkit-mask-size: 100% 100%;
    overflow: hidden
}

.x2 ._50ch._2so {
    -webkit-mask-image: url(/rsrc.php/v3/yI/r/kMZsERY12X9.png)
}

._50ch ._2sr {
    height: 110%;
    left: -5%;
    -webkit-mask-image: url(/rsrc.php/v3/yd/r/C-DoQACmfug.png);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    position: relative;
    top: -5%;
    width: 110%
}

._50ch._2ss ._2sr {
    background-color: rgba(0,0,0,.5)
}

._50ch._2st ._2sr {
    background-color: rgba(255,255,255,.7)
}

._2su {
    background-image: none;
    margin: 6px 8px;
    position: relative
}

.touch ._2su,.touch ._2su::after,.touch ._2su::before {
    border: 1px solid transparent;
    height: 5px;
    width: 2px
}

._2su::after {
    content: "";
    position: absolute;
    right: -7px;
    top: -1px
}

._2su::before {
    content: "";
    left: -7px;
    position: absolute;
    top: -1px
}

._2su.frame2::before,._2su.frame3,._2su.frame4::after {
    height: 9px
}

._2su.frame3::before,._2su.frame4,._2su.frame5::after {
    height: 7px
}

._2su.frame2::before {
    top: -3px
}

._2su.frame4::after,._2su.frame5::after {
    top: -2px
}

._2su.frame3::before,._2su.frame4::before {
    top: 0
}

._2su.frame3::after {
    top: 1px
}

._2su.frame3 {
    margin: 4px 8px
}

._2su.frame4 {
    margin: 5px 8px
}

._2ss._2su,._2ss._2su::after,._2ss._2su::before {
    background: rgba(82,111,167, .06);
    border-color: rgba(82,111,167, .06)
}

._2ss._2su.frame2::before,._2ss._2su.frame3,._2ss._2su.frame4::after {
    background: rgba(82,111,167, .66);
    border-color: rgba(82,111,167, 1)
}

._2ss._2su.frame3::before,._2ss._2su.frame4,._2ss._2su.frame5::after {
    background: rgba(82,111,167, .4);
    border-color: rgba(82,111,167, .4)
}

._2ss._2su.frame4::before,._2ss._2su.frame5,._2ss._2su.frame6::after {
    background: rgba(82,111,167, .13);
    border-color: rgba(82,111,167, .13)
}

._2st._2su,._2st._2su::after,._2st._2su::before {
    background: rgba(216,223,234, .08);
    border-color: rgba(216,223,234, .07)
}

._2st._2su.frame2::before,._2st._2su.frame3,._2st._2su.frame4::after {
    background: rgba(216,223,234, .66);
    border-color: rgba(216,223,234, .85)
}

._2st._2su.frame3::before,._2st._2su.frame4,._2st._2su.frame5::after {
    background: rgba(216,223,234, .4);
    border-color: rgba(216,223,234, .34)
}

._2st._2su.frame4::before,._2st._2su.frame5,._2st._2su.frame6::after {
    background: rgba(216,223,234, .13);
    border-color: rgba(216,223,234, .11)
}

._55on {
    animation: mLoadingIndicatorRotation 1s infinite linear
}

.paused {
    animation-play-state: paused
}

@keyframes mLoadingIndicatorRotation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.touch a {
    color: #576b95;
    cursor: pointer;
    text-decoration: none
}

.touch.app a,.touch a[href=""],.touch a[href="#"] {
    -webkit-touch-callout: none
}

.touch a.sub {
    color: gray
}

.touch a.sec {
    color: #8190b0
}

.touch a.inv {
    color: #fff;
    -webkit-tap-highlight-color: rgba(255,255,255,.5)
}

.touchable {
    cursor: pointer
}

a.touchable {
    color: inherit;
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}

.no-outline {
    outline: none
}

#bootloader_EZLtE4_ {
    height: 42px;
}

.bootloader_EZLtE4_ {
    display: block!important;
}
